@font-face {
    font-family: bold;
    src: url('font/bold.ttf') format('bold'); /* bold */

}
.inicio {
    text-align: center;
    width: 100%;
    background-color: #212b2ec7;
    text-align: center;
}
.inicio1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d4d4d4;
    font-size: 12px;

}
h1 {
    font-size: 40px;
    font-family: bold;
    text-align: center;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: #d4d4d4;
}

h2 {
    font-family: bold;
    font-size: 24px;
    color: rgb(25, 53, 53);
}

body {
    font-family:bold, sans-serif;
    background-color: #F2F2F2; /* cinza claro */
    line-height: 1.6;
    color: #333333; /* cinza escuro para o texto */
}

a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    background-color: #F7F7F7;
    border-left: 4px solid #333333;
}

table {
    text-align: center;
    width: 100%; /* Largura total */
    border-collapse: collapse;
}

td, th{
    border: 1px solid black; /* Borda preta com espessura de 1px */
    padding: 8px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto */
}

th {
    background-color: #f8f8f8;
}
hr{
    border: 2px solid black;
}

textarea {
    width: 95%;
    font-style: italic;
    height: 100px; /* Altura inicial do textarea */
    resize: both; /* Permitir redimensionamento vertical */
    margin-bottom: 20px;
    border: 2px solid black;
  }

.selecionavel {
    user-select: auto; /* Permite seleção */
}

.nao-selecionavel {
    user-select: none; /* Impede a seleção */
}
.elemento-ativo {
    pointer-events: auto; /* O elemento responde normalmente aos eventos de ponteiro */
    background-color: lightblue;
    padding: 20px;
}
.elemento-inativo {
    pointer-events: none; /* O elemento não responde a eventos de ponteiro */
    background-color: lightgray;
    padding: 20px;
}

.perfil{
    display: flex;
    justify-content:row;
    align-items: center;
}
.desespero{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}
.imagens{
    display: flex;
    justify-content:row;
    align-items: center;
    width: 20px;
    height: 20px;
}
.direcao{
    display: flex;
    justify-content:row;
    align-items: center;
}
.imagens1{
    width: 46px; /* Largura desejada */
    height: 46px; /* Altura desejada */
}
.imagens2{
    width: 50px; /* Largura desejada */
    height: 50px; /* Altura desejada */
}
